REGISTRY_HTTP_ADDR="0.0.0.0:443"
REGISTRY_HTTP_TLS_CERTIFICATE=/certs/fullchain.pem
REGISTRY_HTTP_TLS_KEY=/certs/privkey.pem
REGISTRY_AUTH=htpasswd
REGISTRY_AUTH_HTPASSWD_REALM=basic-realm
REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
