# Debug and logging settings
# Debug information can be tracked at REGISTRY_HTTP_DEBUG_ADDR/debug/vars
REGISTRY_HTTP_DEBUG_ADDR="0.0.0.0:4443"
REGISTRY_LOG_LEVEL=debug
REGISTRY_LOG_ACCESSLOG_DISABLED=true

# Prometheus settings
REGISTRY_HTTP_PROMETHEUS_ENABLED=false
REGISTRY_HTTP_PROMETHEUS_PATH=/metrics

# Storage settings e.g. location, mainteanance and caching
REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
REGISTRY_STORAGE_FILESYSTEM_MAINTENANCE_UPLOADPURGING_ENABLED=true
REGISTRY_STORAGE_FILESYSTEM_MAINTENANCE_UPLOADPURGING_AGE=168h # 7 days
REGISTRY_STORAGE_FILESYSTEM_MAINTENANCE_UPLOADPURGING_INTERVAL=24h
REGISTRY_STORAGE_FILESYSTEM_MAINTENANCE_UPLOADPURGING_DRYRUN=false
#REGISTRY_STORAGE_FILESYSTEM_CACHE_BLOBDESCRIPTOR=redis

# HTTP settings e.g. hostname and tls certificate locations
REGISTRY_HTTP_ADDR="0.0.0.0:443"
REGISTRY_HTTP_TLS_CERTIFICATE=/certs/fullchain.pem
REGISTRY_HTTP_TLS_KEY=/certs/privkey.pem

# User authentication settings 
REGISTRY_AUTH=token
REGISTRY_AUTH_TOKEN_REALM=https://gitlab-eudat-dev.scc.kit.edu/jwt/auth
REGISTRY_AUTH_TOKEN_SERVICE=container_registry
REGISTRY_AUTH_TOKEN_ISSUER=gitlab-issuer
REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE=/certs/fullchain-gitlab-dev.pem
