REGISTRY_HTTP_ADDR="0.0.0.0:443"
REGISTRY_HTTP_TLS_CERTIFICATE=/certs/fullchain.pem
REGISTRY_HTTP_TLS_KEY=/certs/privkey.pem
REGISTRY_AUTH=token
REGISTRY_AUTH_TOKEN_REALM=https://gitlab-eudat-dev.scc.kit.edu/jwt/auth
REGISTRY_AUTH_TOKEN_SERVICE=container_registry
REGISTRY_AUTH_TOKEN_ISSUER=gitlab-issuer
REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE=/certs/fullchain-gitlab-dev.pem
